/*------------Navbar area----------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #Logo{
      float: left;
      width: 150px;
      margin-top: 20px;
      margin-left: 200px;
  }
  #titik{
      float: right;
      width: 100px;
  }
  
  li {
    float: right;
    
    font-size: 24px;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    margin-right: 80px;
  }
  li.dropdown {
    display: inline-block;
  }
.dropdown-content a:hover {background-color: yellow}

.dropdown:hover .dropdown-content {
  display: block;
}
li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
/*------------ End Navbar area----------------*/

/*------------Landing page area----------------*/
#fotoilham {
    width: 350px;
    float: right;
    margin-right: -120px;
    margin-top: -80px;
}
#hi{
    width: 50px;
}
#titik{
    width: 50px;
   margin-left: 1500px;
}
#titikk{
    width: 80px;
    float: left;
}
.banner{
    margin: 200px;
}
.banner h1{
    font-size: 72px;
}
.banner h2{
    font-size: 48px;
}
.banner h4{
    font-size: 24px;
}
.tombol{
    background-color: #F3DC60;
    padding: 15px 30px;
    margin-right: 10px;
    margin-top: 20px;
    border-color: pink;
    border-: 10px;
    font-size: large;
}

/*------------End Landing page area----------------*/

/*------------Who am iarea----------------*/
#whoami{
    font-size: 28px;
}
#back{
  padding: 10px 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #F3DC60;
}
/*------------End Who am i  area----------------*/

#kaca{
    width: 130px;
    float: right;
    margin-right: 200px;
}


/*------------Portofolio area----------------*/

#ux{
    margin-left: 200px;
}
#poster {
    width: 300px;
    margin-right: 180px;
    float: right;
}
#poster2 {
    width: 250px;
    margin-right: 180px;
    float: right;
}
#readmore {
    margin-left: 200px;
    margin-top: 100px;
    padding: 10px 120px;
}

/*------------Portofolio area----------------*/

#kontak {
    width: 1700px;
    height: 400px;
    left: 0px;
    margin-top: 300px;
}
footer {
    background-color: #F3DC60;
    width: 100%;
    height: 100px;
    padding-top: 50px;
    font-size: large;
}
